.right{
    text-align: right;
}

h1{
    text-align: center;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.round_image{

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #000 0 2px 10px;
    -moz-box-shadow: #000 0 2px 10px;
    box-shadow: #000 0 2px 10px;
    }